* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fadce4;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 15px;
  background: linear-gradient(90deg, #6a9cfd 0%, #e2b9db 100%);
  box-shadow: 10px 12px 28px -6px rgba(83, 76, 153, 0.25);

  aspect-ratio: 360/460;
}

.Elmira {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
}

.title {
  color: #ffffff;
  text-align: right;
}

.title-up {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-bottom: 60px;
}

.title-up h1 {
  order: 1;
  font-size: 2rem;
  margin: 0;
}

.title-up h3 {
  font-size: 0.875rem;
  margin-top: 14px;
  order: 2;
}

.title-down {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.title-down h1 {
  font-size: 1.5rem;
  margin: 12px 0 0 0;
}

.title-down h3 {
  font-size: 0.875rem;
  margin: 0;
}

.title-curo {
  color: #000000;
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  width: 100%;
  padding: 0 15px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  background-color: #fff3f6;
  padding: 15px;
  border-radius: 13px;
  border: 4px solid #6a9cfd;
  box-shadow: 3px 3px 20px 4px rgba(78, 73, 158, 0.25);
  cursor: pointer;
}

.grid-item-img {
  border-radius: 13px;
  border: 4px solid #6a9cfd;
  width: 100%;
}

.grid-item-text {
  margin-top: 50px;
  text-align: start;
  font-size: 1.5rem;
}

.grid-container-mini {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

.grid-container-mini img {
  box-shadow: 1px 1px 20px 1px rgba(78, 73, 158, 0.25);
}

.text-mini {
  margin-top: 12px;
  font-size: 1rem;
}

.splide__slide img {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.splide__slide video {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
}
